.App {
  text-align: center;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  width: 100%;
  background-color: #282c34;
  color: white;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 5em;
  margin-right: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 60px);
  width: 100%;
  box-sizing: border-box;
}

.sidebar {
  flex: 1;
  max-width: 300px;
  background-color: #f4f4f4;
  padding: 1em;
  overflow-y: auto;
  box-sizing: border-box;
}

.content {
  flex: 2;
  padding: 1em;
  overflow-y: auto;
  background-color: #ffffff;
  text-align: left;
  box-sizing: border-box;
}

button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

ul.job-results {
  list-style-type: none;
  padding: 0;
}

ul.job-results li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

ul.job-results li:last-child {
  border-bottom: none;
}

@media (max-width: 768px) {
  .App {
    width: 95%;
  }

  .sidebar {
    flex: 1 1 40%;
  }

  .content {
    flex: 1 1 60%;
  }
}